<section class="about-us" id="3">
  <div class="about-wrap-flex">
    <div class="about-us-text-wrap">
      <h2 class="about-us-title">About Us</h2>
      <p class="about-us-text">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <p class="about-us-text">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from
        classic to modern, corresponding to the latest fashion trends. Our
        embroidery is made using natural fabrics and is embroidered by highly
        qualified craftsmen who convey the beauty of Ukrainian culture in every
        detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing
        one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
        unique history and symbolism, which gives it a special meaning.
      </p>
    </div>
    <div class="about-us-img-wrap">
      <img
        srcset="
          ./img/about-us/desktop-1440px/girl-and-boy-1440px.jpg    709w,
          ./img/about-us/desktop-1440px/girl-and-boy-1440px@2.jpg 1418w,
          ./img/about-us/desktop-1280px/girl-and-boy-1280px.jpg    594w,
          ./img/about-us/desktop-1280px/girl-and-boy-1280px@2.jpg 1188w,
          ./img/about-us/table/girl-and-boy-table.jpg              704w,
          ./img/about-us/table/girl-and-boy-table@2.jpg           1408w,
          ./img/about-us/phone/girl-and-boy-phone.jpg              335w,
          ./img/about-us/phone/girl-and-boy-phone@2.jpg            670w
        "
        sizes="(min-width:1440px) 709px, (min-width: 1280px) 594px, (min-width: 768px) 704px, (max-width: 767px) 335px"
        class="about-us-img"
        src="./img/about-us/phone/girl-and-boy-phone.jpg"
        alt="sleeve vyshyvanka"
      />
    </div>
  </div>
</section>
