<header class="header-page">
  <div class="container">
    <nav class="nav-header">
      <a href="./index.html" class="logo"
        ><img
          src="/img/header/logo.png"
          alt="logo icon"
          width="44"
          height="39"
        />
      </a>
      <ul class="menu-list">
        <li>
          <a href="#3" class="site-nav">About us</a>
        </li>
        <li>
          <a href="#4" class="site-nav">Our collection</a>
        </li>
        <li>
          <a href="#5" class="site-nav">CUSTOMER ORDER</a>
        </li>
        <li>
          <a href="#6" class="site-nav">TEstimonials</a>
        </li>
      </ul>
    </nav>
    <address class="address">
      <a href="tel:+380684439426" class="address-tel">+380 (68) 443-94-26</a>
      <ul class="addres-social-icons-list">
        <li class="size-icons">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="link"
          >
            <svg width="28" height="28" class="icons">
              <use href="/img/header/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="size-icons">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="link"
          >
            <svg width="28" height="28" class="icons">
              <use href="/img/header/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="size-icons">
          <a href="https://www.youtube.com/c/GoIT" target="_blank" lass="link">
            <svg width="28" height="28" class="icons">
              <use href="/img/header/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button type="button" class="button-burger-menu">
        <svg width="36" height="24" class="mobile-menu-open-icon">
          <use
            href="/img/header/nav.svg#icon-nav"
            aria-label="open burger menu"
          ></use>
        </svg>
      </button>
    </address>
  </div>
</header>

<!-- Mobile menu, add class  is-open -->

<div class="mobile-menu">
  <a href="tel:+380684439426" class="address-tel">+380 (68) 443-94-26</a>
  <button class="mobile-menu-btn-close" type="button">
    <svg
      width="36"
      height="36"
      class="mobile-menu-icon-close"
      aria-label="mobile menu close icon"
    >
      <use href="/img/header/icon.svg#icon-close-icon"></use>
    </svg>
  </button>
  <nav class="mobile-menu-nav">
    <ul class="mobile-menu-nav-list">
      <li>
        <a href="#3" class="site-nav">About us</a>
      </li>
      <li>
        <a href="#4" class="site-nav">Our collection </a>
      </li>
      <li>
        <a href="#5" class="site-nav">CUSTOMER ORDER</a>
      </li>
      <li>
        <a href="#6" class="site-nav">TEstimonials</a>
      </li>
    </ul>
  </nav>
</div>
