<section class="hero" id="2">
  <div class="container hero-container">
    <div class="hero-main-photo">
      <img
        class="hero-photo"
        srcset="
          ./img/hero/phone/girl-phone.jpg        335w,
          ./img/hero/phone/girl-phone@2x.jpg     670w,
          ./img/hero/table/Girl-table.jpg        413w,
          ./img/hero/table/Girl-table@2x.jpg     826w,
          ./img/hero/desktop/girl-desktop.jpg    392w,
          ./img/hero/desktop/girl-desktop@2x.jpg 784w
        "
        sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        src="./img/hero/phone/girl-phone.jpg"
        alt="woman in gray shirt"
      />
    </div>
    <div class="hero-contents">
      <h1 class="hero-title">
        Reviving the traditional
        <span class="hero-span">Ukrainian</span> artistry in every stitch.
      </h1>
      <a href="#5" class="hero-order-link"
        ><span class="hero-btn-span">Order</span>
        <svg class="arrow-icon" width="26" height="10">
          <use href="./img/hero/hero-icon.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="hero-side-photos">
      <div class="star-contents">
        <svg class="star-icon" width="52" height="51">
          <use href="./img/hero/hero-icon.svg#icon-star-hero"></use>
        </svg>
        <p class="star-text">all embroidery is made by hand</p>
      </div>
      <img
        class="map-pic"
        srcset="
          ./img/hero/table/shoulder-table.png        157w,
          ./img/hero/table/shoulder-table@2x.png     314w,
          ./img/hero/desktop/shoulder-desktop.png    142w,
          ./img/hero/desktop/shoulder-desktop@2x.png 284w
        "
        sizes="(min-width:1280px) 142px, (min-width:768px) 157px"
        src="./img/hero/table/shoulder-table.png"
        alt="map of Ukraine"
      />
    </div>
  </div>
</section>
