<section class="section-collection" id="4">
  <div class="container-our-collection collection-back-image">
    <h2 class="title-collection">Our collection</h2>
    <ul class="list-collection">
      <li class="item-collection">
        <img
          class="image-collection"
          srcset="
            ./img/our-collection/desktop-1440px/1-shirt.jpg           400w,
            ./img/our-collection/desktop-1440px/1-shirt@2x.jpg        800w,
            ./img/our-collection/desktop-1280px/1-shirt-1280px.jpg    347w,
            ./img/our-collection/desktop-1280px/1-shirt-1280px@2x.jpg 694w,
            ./img/our-collection/table/1-shirt-table.jpg              342w,
            ./img/our-collection/table/1-shirt-table@2x.jpg           684w,
            ./img/our-collection/phone/1-shirt-phone@2x.jpg           670w
          "
          sizes=" (min-width:1440px) 400px, (min-width:1280px) 347px, (min-width:768px) 342px, (max-width:767px) 335px "
          src="./img/our-collection/phone/1-shirt-phone.jpg"
          alt="AUGUST Poltava women's blouseRING"
        />
        <div class="container-price">
          <h3 class="product-name">AUGUST Poltava women's blouseRING</h3>
          <p class="price">3300 UAH</p>
        </div>
      </li>
      <li class="item-collection">
        <img
          class="image-collection"
          srcset="
            ./img/our-collection/desktop-1440px/2-shirt.jpg           400w,
            ./img/our-collection/desktop-1440px/2-shirt@2x.jpg        800w,
            ./img/our-collection/desktop-1280px/2-shirt-1280px.jpg    347w,
            ./img/our-collection/desktop-1280px/2-shirt-1280px@2x.jpg 694w,
            ./img/our-collection/table/2-shirt-table.jpg              342w,
            ./img/our-collection/table/2-shirt-table@2x.jpg           684w,
            ./img/our-collection/phone/2-shirt-phone@2x.jpg           670w
          "
          sizes=" (min-width: 1440px ) 400px, (min-width: 1280px ) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px "
          src="./img/our-collection/phone/2-shirt-phone.jpg"
          alt="Women's blouse Gorgany"
        />
        <div class="container-price">
          <h3 class="product-name">Women's blouse Gorgany</h3>
          <p class="price">3350 UAH</p>
        </div>
      </li>
      <li class="item-collection">
        <img
          class="image-collection"
          srcset="
            ./img/our-collection/desktop-1440px/3-shirt.jpg           400w,
            ./img/our-collection/desktop-1440px/3-shirt@2x.jpg        800w,
            ./img/our-collection/desktop-1280px/3-shirt-1280px.jpg    347w,
            ./img/our-collection/desktop-1280px/3-shirt-1280px@2x.jpg 694w,
            ./img/our-collection/table/3-shirt-table.jpg              342w,
            ./img/our-collection/table/3-shirt-table@2x.jpg           684w,
            ./img/our-collection/phone/3-shirt-phone@2x.jpg           670w
          "
          sizes=" (min-width: 1440px ) 400px, (min-width: 1280px ) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px "
          src="./img/our-collection/phone/3-shirt-phone.jpg"
          alt="Women's blouse Crimea"
        />
        <div class="container-price">
          <h3 class="product-name">Women's blouse Crimea</h3>
          <p class="price">4000 UAH</p>
        </div>
      </li>
      <li class="item-collection">
        <img
          class="image-collection"
          srcset="
            ./img/our-collection/desktop-1440px/4-shirt.jpg           400w,
            ./img/our-collection/desktop-1440px/4-shirt@2x.jpg        800w,
            ./img/our-collection/desktop-1280px/4-shirt-1280px.jpg    347w,
            ./img/our-collection/desktop-1280px/4-shirt-1280px@2x.jpg 694w,
            ./img/our-collection/table/4-shirt-table.jpg              342w,
            ./img/our-collection/table/4-shirt-table@2x.jpg           684w,
            ./img/our-collection/phone/4-shirt-phone@2x.jpg           670w
          "
          sizes=" (min-width: 1440px ) 400px, (min-width: 1280px ) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px "
          src="./img/our-collection/phone/4-shirt-phone.jpg"
          alt="Men's shirt Verkhovina"
        />
        <div class="container-price">
          <h3 class="product-name">Men's shirt Verkhovina</h3>
          <p class="price">3100 UAH</p>
        </div>
      </li>
      <li class="item-collection">
        <img
          class="image-collection"
          srcset="
            ./img/our-collection/desktop-1440px/5-shirt.jpg           400w,
            ./img/our-collection/desktop-1440px/5-shirt@2x.jpg        800w,
            ./img/our-collection/desktop-1280px/5-shirt-1280px.jpg    347w,
            ./img/our-collection/desktop-1280px/5-shirt-1280px@2x.jpg 694w,
            ./img/our-collection/table/5-shirt-table.jpg              342w,
            ./img/our-collection/table/5-shirt-table@2x.jpg           684w,
            ./img/our-collection/phone/5-shirt-phone@2x.jpg           670w
          "
          sizes=" (min-width: 1440px ) 400px, (min-width:1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px "
          src="./img/our-collection/phone/5-shirt-phone.jpg"
          alt="Mountain men's shirt"
        />
        <div class="container-price">
          <h3 class="product-name">Mountain men's shirt</h3>
          <p class="price">3300 UAH</p>
        </div>
      </li>
      <li class="item-collection">
        <img
          class="image-collection"
          srcset="
            ./img/our-collection/desktop-1440px/6-shirt.jpg           400w,
            ./img/our-collection/desktop-1440px/6-shirt@2x.jpg        800w,
            ./img/our-collection/desktop-1280px/6-shirt-1280px.jpg    347w,
            ./img/our-collection/desktop-1280px/6-shirt-1280px@2x.jpg 694w,
            ./img/our-collection/table/6-shirt-table.jpg              342w,
            ./img/our-collection/table/6-shirt-table@2x.jpg           684w,
            ./img/our-collection/phone/6-shirt-phone@2x.jpg           670w
          "
          sizes="(min-width: 1440px ) 400px, (min-width: 1280px ) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px "
          src="./img/our-collection/phone/6-shirt-phone.jpg"
          alt="Men's shirt Yasen"
        />
        <div class="container-price">
          <h3 class="product-name">Men's shirt Yasen</h3>
          <p class="price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
