.about-ornament {
  background-image: url(../img/about-us/phone/elements-phone.png);
  /* background-position: right bottom; */
  background-position-x: 100%;
  background-position-y: 99%;
  background-repeat: no-repeat;
  background-size: inherit;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-ornament {
    background-image: url(../img/about-us/phone/elements-phone@2x.png);
  }
}

.about-us-container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  /* padding: 0 20px 80px 20px; */
}
.about-us-title {
  color: var(--white, #fcf9f9);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  /* margin-top: 80px;
  margin-bottom: 40px; */
}
.about-us-text-wrap {
  display: flex;
  width: 335px;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 50px;
}

.about-us-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.04em;
}

.about-us-img-wrap {
}

.about-us-img {
}

@media screen and (min-width: 768px) {
  .about-ornament {
    background-image: url(../img/about-us/table/elements-table.png);
    background-position: right bottom 50px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about-ornament {
      background-image: url(../img/about-us/table/elements-table@2x.png);
    }
  }

  .about-us-container {
    padding: 0 32px 100px 32px;
  }

  .about-us-title {
    color: var(--white, #fcf9f9);
    font-size: 44px;
    line-height: 1.45;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .about-us-text-wrap {
    width: 704px;
    justify-content: flex-start;
  }

  .about-us-text {
    font-size: 16px;
  }
  .about-us-img-wrap {
  }

  .about-us-img {
  }
}

@media screen and (min-width: 1280px) {
  .about-ornament {
    background-image: url(../img/about-us/desktop-1280px/elements-1280px.png);
    background-position: right;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about-ornament {
      background-image: url(../img/about-us/desktop-1280px/elements-1280px@2x.png);
    }
  }

  .about-us-container {
    padding: 0 100px 150px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .about-us {
  }

  .about-us-title {
    margin-top: 100px;
  }
  .about-us-text-wrap {
    width: 436px;
  }

  .about-us-text {
  }
  .about-us-img-wrap {
    margin-left: 50px;
  }

  .about-us-img {
  }
}
