/* 0-1279px */

@media screen and (max-width: 1279px) {

    .menu-list {
        display: none;
    }

    .address .address-tel {
        display: none;
    }

    .button-burger-menu {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        line-height: 0;
    }

    
    /* =========== MOBILE MENU ============ */

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;        
        width: 374px;
        height: 100%;
        background: var(--yellow, #ECD979);
        display: flex;
        flex-direction: column;
        padding: 20px;        
        border: 1px solid rgba(28, 34, 37, 0.10);
        border-radius: 15px;
        transform: translateX(-100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
    }


    .mobile-menu.is-open {
        transform: translateX(0%);
    }
    .mobile-menu .address-tel {
        color: currentColor;
        border-color: rgba(28, 34, 37, 0.10);
        padding: 12px 20px;        
        font-size: 12px;
        line-height: 1.17;
        width: 159px;
        /* width: 158px;  не влазе*/
    }

    .mobile-menu-btn-close {
        height: 36px;
        width: 36px;
        background-color: transparent;
        border: none; 
        stroke: #1C2225;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        line-height: 0; /*сброс дефолта у кнопки*/
        position: absolute;
        top: 21px;
        right: 20px;
    }

     .mobile-menu-nav {
        margin-top: 186px;
        margin-left: auto;
        position: relative;
    }

    .mobile-menu-nav-list {
        flex-direction: column;
        gap: 20px;
        display: inline-flex;
        align-items: flex-end;
        white-space: nowrap;
        
    }

    .mobile-menu-nav-list .site-nav {
          
        letter-spacing: 0.02em;
        text-transform: uppercase;        
        color: #1C2225;            
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.29; /* 128.571% */
                 

    }    

    .mobile-menu-nav::after {
        content: "";
        position: absolute;
        top: 317px;
        right: -20px;
        height: 302px;
        width: 274px;            
        background: bottom center / contain no-repeat url("/img/elements.svg");
        
    }
    
    /* ===========  /   MOBILE MENU ============ */
}

.site-nav {
    color: var(--white, #FCF9F9);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    
}

.header-page .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;    
}

.logo {    
    display: flex;
    cursor: default;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.address {
    display: flex;
    align-items: center;
    gap: 20px;
}
.address-tel {
    color: var(--white, #FCF9F9);
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    
}
.addres-social-icons-list {
    display: flex;
    gap: 12px;
}
.size-icons  {
    display: flex;
    padding: 8px;
    align-items: center;        
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background: rgba(252, 249, 249, 0.10);
    
}
.icons {
    opacity: 0.8;
}

/* tablet 375px + */

@media screen and (min-width: 375px) {

    .mobile-menu {
        width: 274px;
    }
}
/* tablet 768px + */

@media screen and (min-width: 768px) {

    .mobile-menu {
        width: 380px;
        
    }
    .mobile-menu .address-tel {
        border: none;
        padding: 14px 28px;
        font-size: 14px;
        line-height: 1.43;
        white-space: nowrap;           

    }
    .mobile-menu-btn-close {
        height: 44px;
        width: 44px;
    }
    .mobile-menu-nav::after {
        width: 380px;
    }

}

/* desctop 1280px + */

@media screen and (min-width: 1280px) {

    .mobile-menu {
            display: none;
        }
    .nav-header {
        display: flex;
        align-items: center;
    }
    .menu-list {
        margin-left: 60px;
        display: flex;                    
        gap: 25px;
    }
    .button-burger-menu {
        display: none;
    }   

    .logo {
        cursor: pointer;
    }

    .site-nav {

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }    
    .site-nav:hover,
    .site-nav:focus {
        color: var(--yellow, #ECD979);
    }
    
    .address-tel,
    .size-icons {
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .address-tel:hover,
    .address-tel:focus,
    .size-icons:hover,
    .size-icons:focus {
        border-color: var(--yellow, #ECD979);
    }
    
        /* ===== animation ====== */

    .logo {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);    
        
    }

    .logo:hover,
    .logo:focus {
        /* ===== neon тень ====== */

        /* box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        2px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 16px 0px rgba(0, 255, 255, 0.7); */
        
        /* ===== вращение ====== */
        transform: rotate(3600deg);
        
    }

    .icons {
        transition: filter 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .size-icons:hover .icons,
    .size-icons:focus .icons {        
        filter: drop-shadow(4px 4px 2px #ECD979);
        
    }
        /* ===== / animation ====== */

}

@media screen and (min-width: 1440px){
    .header-page .container {        
        padding-top: 18px;
    }
}
