.hero-side-photos {
  width: 157px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  display: none;
}

.star-contents {
  margin-bottom: auto;
  padding-top: 80px;
  text-align: center;
}

.star-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  margin-top: 16px;
}

.hero-title {
  color: var(--white);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}

.hero-span {
  color: var(--yellow);
}

.hero-order-link {
  color: var(--white);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: block;
  padding: 14px 36px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  width: 155px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: border-color 250ms linear;

  display: flex;
  column-gap: 10px;
}

.arrow-icon {
  transform: translateY(5px);
}

.hero-order-link:hover,
.hero-order-link:focus {
  border-color: var(--yellow);
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  font-family: Manrope;
  padding-top: 60px;
  padding-bottom: 80px;
}

.hero-photo {
  border-radius: 4px;
}

/* ----------------------- */

@media screen and (min-width: 768px) {
  .hero-main-photo {
    width: 413px;
  }
  .hero-contents {
    width: 549px;
  }
  .hero-container {
    align-items: flex-start;
    padding-top: 106px;
    padding-bottom: 100px;
  }
  .hero-side-photos {
    display: flex;
    position: absolute;
    bottom: -10px;
    right: 32px;
  }
  .hero-title {
    font-size: 54px;
    line-height: 1.19;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    flex-direction: row;
    column-gap: 40px;
    padding-top: 100px;
    padding-bottom: 150px;
  }
  .hero-main-photo {
    width: 392px;
  }
  .hero-contents {
    padding-top: 94px;
    max-width: 518px;
  }
  .hero-side-photos {
    width: 142px;
    bottom: 0;
    right: 100px;
  }
  .map-pic {
    margin-bottom: 50px;
  }
  .star-contents {
    padding-top: 116px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-contents {
    padding-top: 66px;
  }
  .star-contents {
    padding-top: 218px;
  }
  .hero-title {
    font-size: 64px;
    line-height: 1.16;
  }
}
