.your-order-background {
  max-width: 1440px;
  height: 550px;
  max-height: 550px;
  margin-left: auto;
  margin-right: auto;
  background-image: none,
    url(../img/our-collection/phone/girl-our-collection-phone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.your-order-title {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.your-order-h2 {
  color: var(--white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.96px;
  padding-left: 20px;
}
.your-order-span {
  color: var(--yellow);
}
.your-order-form {
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
.your-order-input {
  display: flex;
  width: 100%;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  margin-bottom: 20px;
}
.your-order-textarea {
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  height: 196px;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 14px 16px;
  color: #fcf9f9;
}
.your-order-input:focus {
  border-radius: 15px;
  border: 1px solid #fcf9f999;
  color: #fcf9f9;
}

.your-order-btn-div {
  margin-top: 40px;
  margin-right: 115px;
  margin-left: 115px;
}
.your-order-btn {
  width: 145px;
  height: 49px;
  display: flex;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  color: #fcf9f9;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}
.your-order-btn:focus {
  border-radius: 15px;
  border: 1px solid #fcf9f999;
  color: #fcf9f9;
}
.your-order-btn:hover {
  border-radius: 15px;
  border: 1px solid #fcf9f999;
  color: #fcf9f9;
}
